header{
    height: 100vh;
    min-height: 805px;
    display: flex;
}

.header-content{
    min-height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.header-content h1{
    color: #1d1b67;
    font-size: 3.5em;
    margin: 0;
}

.header-content a{
    font-weight: bold;
}

.header-buttons{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.protection-text{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.protection-text p{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 10px;
}

.protection-text img{
    margin-right: 10px;
}

.header-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46ccde;
}

.header-image img{
    height: 35vw;
}

#content-1{
    height: 50vh;
    min-height: 380px;
    background-color: white;
    display: flex;
    align-items: center;
}

#content-1 h1{
    margin: 0 0 35px 0;
    color: #1d1b67;
}

.user-images{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.user-images img{
    width: 50px;
    margin: 0 10px 10px 0;
}

.fill-empty-image{
    width: 50px;
    height: 0;
    margin: 0 10px 10px 0;
}

#content-2{
    height: 70vh;
    min-height: 500px;
    background-color: #cdf9ff;
    display: flex;
    align-items: center;
}

.content-2-text h5{
    margin: 0;
    color: #3f64c1;
    font-size: 1em;
}

.content-2-text h1{
    margin: 10px 0 0 0;
    color: #005661;
}


.view-live{
    text-decoration: none; 
    font-weight: bold;  
    color: #455769;
    position: relative;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes float{
    0%   {left:0px; }
    50%  {left:30px; }
    100% {left:0px;}
}

@media (max-width: 1299px)  { 

}

@media (max-width: 961px)  { 

}

@media (max-width: 600px)  { 

}

@media (max-width: 365px){

}