header{
    height: 100vh;
    min-height: 805px;
    display: flex;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.header-content h1{
    margin: 0;
    color: #1d1b67;
    font-size: 3.8em;
    top: 100px;
}

.header-content a{
    font-weight: bold;
}

.header-buttons{
    display: flex;
    width: 350px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.protection-text{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.protection-text p{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 10px;
}

.protection-text img{
    margin-right: 10px;
}

.header-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46ccde;
}

.header-image img{
    width: 35vw;
    min-width: 350px;
}

#content-1{
    height: 50vh;
    background-color: white;
    display: flex;
    align-items: center;
}

#content-1 h1{
    margin: 0 0 35px 0;
    color: #1d1b67;
}

.user-images{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.user-images img{
    width: 50px;
    margin: 0 10px 10px 0;
}

.fill-empty-image{
    width: 50px;
    height: 0;
    margin: 0 10px 10px 0;
}

#content-2{
    height: 70vh;
    min-height: 500px;
    background-color: #cdf9ff;
    display: flex;
    align-items: center;
}

.content-2-text h5{
    margin: 0;
    color: #3f64c1;
    font-size: 1em;
}

.content-2-text h1{
    margin: 10px 0 0 0;
    color: #005661;
}


.view-live{
    text-decoration: none; 
    font-weight: bold;  
    color: #455769;
    position: relative;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 0.5s ease;
}

.view-live:hover{
    opacity: 0.6;
    transition: all 0.5s ease;
}

@keyframes float{
    0%   {left:0px; }
    50%  {left:30px;}
    100% {left:0px;}
}

@media (max-width: 1333px)  { 
    .header-content h1{
        font-size: 3.2em;
    }
}

/* TABLET */
@media (max-width:1025px) { 
    .content-1-text, .content-2-text{
        padding: 0 10vw;
        width: auto;
    }
    #content-1, #content-2{
        flex-direction: column;
        padding: 8vh 0;
        height: min-content;
        min-height: 0 !important;
    }
    #content-1 h1{
        margin: 0;
        width: 40vw;
    }
    .content-1-text.left{
        padding: 0;
        display: flex;
        align-items: center;
    }
    .content-2-text.right{
        margin-top: 5vh;
    }
    .user-images{
        width: 40vw;
    }
    .protection-text p{
        white-space: normal;
    }
    .header-buttons{
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 350px;
    }
}

@media (max-width:1009px){
    .header-content h1{
        font-size: 3em;
    }
}

@media (max-width: 959px)  { 
    p{
        font-size: 1.2em;
        line-height: 1.3em;
    }
    .header-buttons{
        flex-direction: column;
        align-items: center;
        margin-right: -10vw;
        margin-left: -5vw;
    }
}

/* HEADER COL */
@media (max-width: 945px)
{
    header{
        flex-direction: column;
        height: min-content;
    }
    .header-content
    {
        padding: 15vh 10vw 10vh 10vw;
        padding-top: max(15vh,120px) !important;
        width: auto;
    }
    .header-image{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vw;
    }
    .header-image img{
        margin: 0;
        padding: 0;
        width: 80vw;
        min-width: 150px;
    }
    .header-buttons{
        flex-direction: row;
        margin: 0;
    }
}

@media  (max-width: 793px) {
    .content-1-text.left{
        display: block;
    }
    .user-images, #content-1 h1{
        width: auto;
        padding: 0 10vw 0 10vw;
    }
}


/* PHONE */
@media (max-width: 641px)  { 
    
}

@media (max-width: 430px)  { 
    .header-buttons{
        width: 300px;
    }
}

@media (max-width: 365px){
    .header-buttons{
        flex-direction: column;
        align-items: center;
    }
}