html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif; 
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

p{
    color: #455769;
    font-size: 1.3em;
    line-height: 1.5em;
}

a{
    color: #455769;
}

h1{
    font-size: 2.5em;
}

.left{
    padding: 0 5vw 0 10vw;
    width: 35vw;
}

.right{
    padding: 0 10vw 0 5vw;
    width: 35vw;
}

#navbar{
    padding: 25px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background 0.8s ease;
}

.navbar-shadow{
    box-shadow: -1px 8px 53px -2px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: -1px 8px 53px -2px rgba(0, 0, 0, 0.301);
    -moz-box-shadow: -1px 8px 53px -2px rgba(0, 0, 0, 0.301);
}

.navbar-left{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: #455769;
    font-weight: normal;
}

.start-button{
    border-color: rgba(255, 255, 255, 0);
    background-color: #1d1b67;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: normal;
    white-space: nowrap;
    transition: background 0.5s linear;
}

.start-button:hover{
    border-color: #1d1b67;
    cursor: pointer;
    background-color: white;
    color: #1d1b67;
    transition: background 0.5s linear;
}

footer{
    padding: 3vw 0;
    display: flex;
}

footer img{
    position: absolute;
    margin: 10px 0 10px 10vw;
}

.footer-text-1{
    margin-top: 50px;
    font-size: 1.2em;
    display: flex;
}

.footer-text-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
}

ul{
    padding: 0;
}

li, .footer-text-1 h3{
    white-space: nowrap;
    font-size: 1em;
    list-style: none;
    margin: 10px 100px 0 0;
}

#email-input{
    width: max-content;
    border: solid 2px #dadada;
    margin: 0;
    padding: 2px;
    border-radius: 5px;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}

#email-input input{
    margin-left: 20px;
    font-size: 1.3em;
}

@media (max-width: 1299px)  { 

}

@media (max-width: 961px)  { 

}

@media (max-width: 600px)  { 

}

@media (max-width: 365px){

}