html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-width: 365px;
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif; 
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

#body.active{
    overflow-y: hidden;
    background: linear-gradient(38deg, rgba(70,204,222,1) 0%, rgba(179,240,249,1) 49%, rgba(205,249,255,1) 100%);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

p{
    color: #455769;
    font-size: 1.3em;
    line-height: 1.5em;
}

a{
    color: #455769;
}

h1{
    font-size: 2.5em;
}

.left{
    padding: 0 5vw 0 10vw;
    width: 35vw;
}

.right{
    padding: 0 10vw 0 5vw;
    width: 35vw;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.8s ease;
}

#navbar-desktop{
    display: flex;
    justify-content: space-between;
    padding: 30px 10vw;
    align-items: center;
}

#navbar-mobile{
    display: none;
}

#burgerBtn {
    border-top: 4px solid #000000;
    height: 20px;
    width: 24px;
    box-sizing: border-box;
    position: absolute;
    z-index: 999999;
    right: 10vw;
    top: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
}

#burgerBtn:before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 24px;
    left: 0;
    background: #000000;
    top: 4px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1 !important;
}

#burgerBtn:after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 24px;
    left: 0;
    background: #000000;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1 !important;
}

.active#burgerBtn {
    border-color: transparent;
}

.active#burgerBtn:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 24px;
    opacity: 1 !important;
}

.active#burgerBtn:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -khtml-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 8px;
    width: 24px;
    opacity: 1 !important;
}

#all-content{
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.active#all-content {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -khtml-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
    visibility: hidden;
}

.navbar-left{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.navbar-left img:hover{
    cursor: pointer;
}

.scrolled{
    background-color: white;
    box-shadow: -1px 8px 53px -2px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: -1px 8px 53px -2px rgba(0, 0, 0, 0.301);
    -moz-box-shadow: -1px 8px 53px -2px rgba(0, 0, 0, 0.301);
    transition: all 0.8s ease;
}

#navbar.active div:not(:last-child){
    display: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#nav {
    position: fixed;
    z-index: 999999999;
    list-style-type: none;
    margin-top: 15vh;
    right: 10vw;
    padding: 0;
    overflow: hidden;
}

#nav li {
    margin-right: -50px;
    opacity: 0;
    text-align: right;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -khtml-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
#nav li + li {
    margin-right: -100px;
}
#nav li + li + li {
    margin-right: -200px;
}

.active #nav li {
    margin-right: 0;
    opacity: 1;
}

hr{
    border-top: 2px solid #1d1b67;
    border-bottom: 0px;
    margin: 0;
}

.start-button{
    border-color: rgba(255, 255, 255, 0);
    background-color: #1d1b67;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: normal;
    white-space: nowrap;
    transition: background 0.5s linear;
}

.start-button:hover{
    border-color: #1d1b67;
    cursor: pointer;
    background-color: white;
    color: #1d1b67;
    transition: background 0.5s linear;
}

footer{
    padding: 5vh 10vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img{
    position: absolute;
}

.footer-text-1{
    margin-top: 50px;
    font-size: 1.2em;
    display: flex;
}

.footer-text-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    padding: 0;
}

li, .footer-text-1 h3{
    white-space: nowrap;
    font-size: 1em;
    list-style: none;
    margin: 10px 100px 0 0;
}

#email-input{
    display: flex;
    border: solid 2px #dadada;
    margin: 0;
    padding: 2px;
    border-radius: 5px;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}

#email-input input{
    margin: 0 20px;
    width: 15vw;
    min-width: 150px;
    font-size: 1.3em;
}

@media (max-width: 1357px)  { 
    h1{
        font-size: 2.3em;
    }
}

@media (max-width: 961px)  { 
    h1{
        font-size: 2.3em;
    }
}

@media (max-width: 700px){
    .footer-text-1{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80vw;
    }
    
    li, .footer-text-1 h3{
        margin: 10px 20px 0 0;
    }
}

/* PHONE */
@media (max-width: 641px)  { 
    #navbar-desktop{
        display: none;
    }
    #navbar-mobile{
        display: flex;
        justify-content: space-between;
        padding: 30px 10vw;
        align-items: center;
    }
    #burgerBtn{
        opacity: 1;
    }
}

@media (max-width: 467px)
{
    #email-input input{
        margin: 0 10px;
        font-size: 1.2em;
        min-width: 100px;
    }
}

@media (max-width: 365px){

}